@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
//   overflow-y: auto;
}

#hero {
  height: 100vh;
  width: 100%;
  max-height: -webkit-fill-available;
  background: linear-gradient(to right, #ff88009d, #e52e71b0),
    url("https://unsplash.com/photos/BxjZKXKC2JA/download?force=true&w=2400")
      no-repeat top center;
  background-size: cover;
  background-position: center;
  overflow: hidden;


  nav {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 2vh;
    ul {
      padding: 15px;
      padding-right: 30px;
      float: right;
      li {
        display: inline;
        padding-right: 10px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1630614203 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1630614203 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 8vh;
  }

  .custom-shape-divider-bottom-1630614203 .shape-fill {
    fill: #ffffff;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100vw;
    height: fit-content;
    overflow: visible;


    #subhead {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 200;
      font-size: 3vh;
    }
    #head {
      font-family: "Roboto", sans-serif;
      font-size: 8.5vh;
      font-weight: 500;
    }
    .fas {
      font-size: 2vh;
      -webkit-animation-name: arrowBounce;
      animation-name: arrowBounce;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      color: white;
    }
  }
}

#about {
  height: 100vh;
  width: 100%;
  padding-top: 1vh;
  font-family: "Nunito Sans", sans-serif;
  #aboutText {
      padding: 3vw;
    #abt {
        font-family: 'Roboto', sans-serif;
        font-size: 4.5vh;
    }
    #desc {
        padding-top: 1vh;
        font-family: "Nunito Sans", sans-serif;
        font-size: 2.5vh;
    }
    #reviews {
        #stars {
            font-size: 2.5vh;
        }
        width: 100%;
        td {
            padding-top: 10vh;
        }
        #review {
            text-align: center;
            #quote {
                p {
                    font-size: 2.5vh;
                    .quotemark {
                        font-size: 1.5vh;
                        vertical-align: super;
                    }
                }
                
            }
            #person {
                font-size: 2vh;
                font-style: italic;
            }
        }
    }
  }
}

#wrapper {
  height: 100vh;
  width: 100%;
}

.prices {
  height: fit-content;
  width: 100%;
  padding-top: 1vh;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.1vh;

  table {
    // display: block;
    border-collapse: separate;
    border-spacing: 0;
    // min-width: 350px;
    table-layout: auto;
    width: 50%;
    text-align: center;
    // border: solid 1px;
    // padding-top: 10vh;
    color: #393939;
    max-height: 80vh;
    // overflow: hidden;
    overflow-y: scroll;

    tr th,
    tr td {
        // border-right: 1px solid #bbb;
        // border-bottom: 1px solid #bbb;
        padding: 0.7vh;
        // background: white;
    }
    tr:nth-child(even) {
        background: rgba($color: #dbdbdb, $alpha: 0.9);
    }
    tr:nth-child(odd) {
        background: rgba($color: #eeeeee, $alpha: 0.9);
    }
    tr th {
        background: #ff8800;
        text-align: left;
        height: 2vh;
        color: rgba($color: #ffffff, $alpha: 1);
        // position: sticky;
        text-align: center;
        
    }

    /* top-left border-radius */
    tr:first-child th:first-child {
        border-top-left-radius: 6px;
    }

    /* top-right border-radius */
    tr:first-child th:last-child {
        border-top-right-radius: 6px;
    }

    /* bottom-left border-radius */
    tr:last-child td:first-child {
        border-bottom-left-radius: 6px;
    }

    /* bottom-right border-radius */
    tr:last-child td:last-child {
        border-bottom-right-radius: 6px;
    }

    thead tr th {
        position: sticky;
        z-index: 100;
        top: 0;
        
    }
    tr td {
        padding: 1.7vh 0;
    }
}
  
}

@-webkit-keyframes arrowBounce {
  0% {
    color: white;
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5vh);
  }
  75% {
    color: transparent;
  }
  76% {
    transform: translate(0, -0px);
  }
}

@keyframes arrowBounce {
  0% {
    color: white;
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5vh);
  }
  75% {
    color: transparent;
  }
  76% {
    transform: translate(0, -0px);
  }
}
