@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#hero {
  height: 100vh;
  width: 100%;
  max-height: -webkit-fill-available;
  background: -webkit-gradient(linear, left top, right top, from(#ff88009d), to(#e52e71b0)), url("https://unsplash.com/photos/BxjZKXKC2JA/download?force=true&w=2400") no-repeat top center;
  background: linear-gradient(to right, #ff88009d, #e52e71b0), url("https://unsplash.com/photos/BxjZKXKC2JA/download?force=true&w=2400") no-repeat top center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#hero nav {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 2vh;
}

#hero nav ul {
  padding: 15px;
  padding-right: 30px;
  float: right;
}

#hero nav ul li {
  display: inline;
  padding-right: 10px;
}

#hero nav ul li a {
  color: white;
  text-decoration: none;
}

#hero .custom-shape-divider-bottom-1630614203 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#hero .custom-shape-divider-bottom-1630614203 svg {
  position: relative;
  display: block;
  width: calc(100%);
  height: 8vh;
}

#hero .custom-shape-divider-bottom-1630614203 .shape-fill {
  fill: #ffffff;
}

#hero #text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

#hero #text #subhead {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 3vh;
}

#hero #text #head {
  font-family: "Roboto", sans-serif;
  font-size: 8.5vh;
  font-weight: 500;
}

#hero #text .fas {
  font-size: 2vh;
  -webkit-animation-name: arrowBounce;
  animation-name: arrowBounce;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: white;
}

#about {
  height: 100vh;
  width: 100%;
  padding-top: 1vh;
  font-family: "Nunito Sans", sans-serif;
}

#about #aboutText {
  padding: 3vw;
}

#about #aboutText #abt {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5vh;
}

#about #aboutText #desc {
  padding-top: 1vh;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5vh;
}

#about #aboutText #reviews {
  width: 100%;
}

#about #aboutText #reviews #stars {
  font-size: 2.5vh;
}

#about #aboutText #reviews td {
  padding-top: 10vh;
}

#about #aboutText #reviews #review {
  text-align: center;
}

#about #aboutText #reviews #review #quote p {
  font-size: 2.5vh;
}

#about #aboutText #reviews #review #quote p .quotemark {
  font-size: 1.5vh;
  vertical-align: super;
}

#about #aboutText #reviews #review #person {
  font-size: 2vh;
  font-style: italic;
}

#wrapper {
  height: 100vh;
  width: 100%;
}

.prices {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 1vh;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.1vh;
}

.prices table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
  width: 50%;
  text-align: center;
  color: #393939;
  max-height: 80vh;
  overflow-y: scroll;
  /* top-left border-radius */
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}

.prices table tr th,
.prices table tr td {
  padding: 0.7vh;
}

.prices table tr:nth-child(even) {
  background: rgba(219, 219, 219, 0.9);
}

.prices table tr:nth-child(odd) {
  background: rgba(238, 238, 238, 0.9);
}

.prices table tr th {
  background: #ff8800;
  text-align: left;
  height: 2vh;
  color: white;
  text-align: center;
}

.prices table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.prices table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

.prices table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.prices table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.prices table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
}

.prices table tr td {
  padding: 1.7vh 0;
}

@-webkit-keyframes arrowBounce {
  0% {
    color: white;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  75% {
    color: transparent;
  }
  76% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes arrowBounce {
  0% {
    color: white;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  75% {
    color: transparent;
  }
  76% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
/*# sourceMappingURL=index.css.map */